footer.footer
  .container-fluid
    p.text-center.text-muted xcironworks 2015

//javascript
script(type='text/javascript', src='/assets/js/jquery.min.js')
script(type='text/javascript', src='/assets/js/bootstrap.min.js')
script(type='text/javascript', src='/assets/js/angular.min.js')